<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registreeri</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Filmielamuste jagamine">
    <meta name="keywords" content="IMDB, Movies, Movie reviews, Filmid, Filmiklassika, Arvustused">
</head>
<body>
<h1>Registreeri</h1>
<form method="POST" role="form">

    <div th:if="${success != null}" class="alert alert-success" role="alert" th:text="${success}"></div>
    <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>
    <!-- Name -->
    <div class="col-md-6 mb-3">
    <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required>
    </div>

    <div class="col-md-6 mb-3">
    <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
    </div>

    <div class="col-md-6 mb-3">
        <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>

    </div>
    <div class="col-md-6 mb-3">
        <label for="password">Password</label>
            <input required type="password" name="password" id="password" class="form-control" placeholder="Password" minlength="6">
    </div>


    <!-- Submit -->
    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit!</button>
</form>


</body>
</html>