    <!doctype html>

<html  xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Filmielamuste jagamine">
    <meta name="keywords" content="IMDB, Movies, Movie reviews, Filmid, Filmiklassika, Arvustused">

    <!-- Our own CSS-->
    <link rel="stylesheet" href="src/main/resources/static/css/style.css" type="text/css">
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" type="text/css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script>
        function getImagePath(val) {
            return '<img src="'+val+'">';
        }
    </script>

    <title th:text="#{main.pealkiri}">FILMIELAMUSED</title>

    <style>
    body {
	    padding-top: 70px;
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
    }
    </style>
</head>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="main.html" class="navbar-brand" th:text="#{main.pealkiri}"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> FILMIELAMUS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{${#httpServletRequest.requestURI} + '?lang=et'}"><img th:width="20" th:height="15" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.png" alt="gb-flag"></a></li>
                    <li><a th:href="@{${#httpServletRequest.requestURI} + '?lang=en'}"><img th:width="20" th:height="15" src="https:/upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flag_of_Estonia.svg/255px-Flag_of_Estonia.png" alt="ee-flag"></a></li>
                    <li><a href="#" th:utext="#{main.logi}">(logi)</a></li>
                    <li><a th:href="@{signup}" th:text="#{main.rega}">(rega)</a></li>
                    <li><a  th:href="@{info}" >Info</a></li>
                    <li sec:authorize="!isAuthenticated()">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-info "> Google</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li sec:authorize="isAuthenticated()">Logisid sisse</li>
                </ul>
            </ul>
        </div>
    </div>
</nav> <!-- Navigation -->


<div class="container">

    <h1 th:text="#{main.pealkiri}"></h1>
    <hr>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" th:each="film : ${films}">
            <div class="thumbnail">
                <img th:src='${film.getUrl()}' width="250" height="500">
                <p th:text="${film.getMoviename()}"></p>
            </div> <!-- thumbnail -->
        </div>
    </div>
</div> <!-- container -->

<!--Footer-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="javascript" src="js/jquery/jquery-3.2.1.slim.min.js"></script>
<script type="javascript" src="js/popper/popper.min.js"></script>
<script type="javascript" src="js/bootstrap/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


</body>
</html>